@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
body{
  background-image: url('./assets/background.jpg');
  background-position: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}