@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
body{
  background:rgb(13, 22, 13);
  background-position: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;

  margin: 0;
  padding: 0;
}
